* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f6f8fa;
}

/*----------*/
/* HEADER */
.app header {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  align-items: center;
  gap: 16px;
  height: 62px;
  width: 100%;
  background-color: #24292e;
}

.app header input {
  background: transparent;
  height: 28px;
  width: 250px;
  padding: 0 12px;
  border: 1px solid #444d56;
  border-radius: 6px;
  color: white;
}

.app header button {
  height: 28px;
  padding: 0 24px;
  color: white;
  background-color: #0366d6;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.app header button:hover {
  background-color: #3c8ce7;
}

/*----------*/
/* Repositório */
.app .repositories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 16px 34px;
  
}

.app .repositories .repository {
  width: 550px;
  padding: 20px 16px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #e1e4e8;
}